backports.functools-lru-cache==1.5
certifi==2018.4.16
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.4
opencv-python==3.4.1.15
Pillow==6.2.0
progressbar==2.3
pyparsing==2.2.0
pytesseract==0.2.2
python-dateutil==2.7.3
pytz==2018.4
scipy==1.1.0
six==1.11.0
sshuttle==0.78.3
subprocess32==3.5.2
virtualenv==15.2.0
